.Header{
    font-size: 16px;
    line-height: 24px;
    color:#550055;
     font-weight: 600;
     background-color: #ffffff !important;
     border-bottom:10px solid #F5F5F5; ;
} 

.teamLogo{
  width: 32px ;
  height: 32px;
     object-fit: contain ;
}
.team{
    line-height: 24px;
    color:#1A0B26;
    font-weight: 400;
    background-color: #ffffff;
}
.greenText{
   color: #00AD12;
} 
.spacing{
  padding-right: 200px !important; 
}

.teamCell,p,img {
  background-color: #ffffff;
  border: none; 
}

.table_container table {
  border-collapse: collapse; 
}

.table_container th,
.table_container td {
  border-top: 10px solid #F5F5F5; 
  padding: 8px; 
}

.table_container th {
  background-color: #f2f2f2; 
}

.table_container td:not(:last-child) {
  border-bottom: 1px solid #F5F5F5;
}

.table_container tr:first-child td {
  border-top: none;
}
.qualification{
  width: 34px;
}
@media (max-width: 750px){
  .spacing{
    padding-right: 150px !important;
  }
  .teamLogo{
  width: 30px ;
  height: 30px;
}
.team{
    font-size: 15px;
}
.qualification{
  width: 32px;
}
}
@media (max-width: 650px){
  .spacing{
    padding-right: 100px !important;
  }
  .teamLogo{
  width: 28px ;
  height: 28px;
}
.team{
    font-size: 14px;
}
.Header{
  font-size: 15px;
  border-bottom: 8px solid #F5F5F5;
}
.table_container th,
.table_container td {
  border-top: 8px solid #F5F5F5; 
  padding: 8px; 
}
.qualification{
  width: 30px;
}
}
@media (max-width: 580px){
  .spacing{
    padding-right: 80px !important;
  }
  .teamLogo{
  width: 26px ;
  height: 26px;
}
.team{
    font-size: 14px;
}
.Header{
  font-size: 13px;
  border-bottom: 6px solid #F5F5F5;
}
.table_container th,
.table_container td {
  border-top: 6px solid #F5F5F5; 
  padding: 8px; 
}
.qualification{
  width: 28px;
}
}
@media (max-width: 480px){
  .spacing{
    padding-right: 50px !important;
  }
  .teamLogo{
  width: 24px ;
  height: 24px;
}
.team{
    font-size: 12px;
   
}
.Header{
  font-size: 12px;
  border-bottom: 4px solid #F5F5F5;
}
.table_container th,
.table_container td {
  border-top: 4px solid #F5F5F5; 
  padding: 6px; 
}
.qualification{
  width: 22px;
}
}
@media (max-width: 360px){
  .spacing{
    padding-right: 50px !important;
  }
  .teamLogo{
  width: 22px ;
  height: 22px;
}
.team{
    font-size: 9px;
   
}
.Header{
  font-size: 11px;
  border-bottom: 2px solid #F5F5F5;
}
.table_container th,
.table_container td {
  border-top: 2px solid #F5F5F5; 
  padding: 3px; 
}
.qualification{
  width: 20px;
}
}
@media (max-width: 320px){
  .spacing{
    padding-right: 50px !important;
  }
  .teamLogo{
  width: 18px ;
  height: 18px;
}
.team{
    font-size: 8px;
   
}
.Header{
  font-size: 10px;
  border-bottom: 2px solid #F5F5F5;
}
.table_container th,
.table_container td {
  border-top: 2px solid #F5F5F5; 
  padding: 2px; 
}
.qualification{
  width: 18px;
}
}