*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  background-color: #F5F5F5;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selector{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:320px
}
.leagueLogo {
  width: 46px;
  height: 45px;
}
.logoText{
  display: flex;
  gap: 10px;
  background-color: #ffffff;
}
.leagueText{
  line-height: 24px;
  font-size: 18px;
  color: #550055;
  white-space: nowrap;
  text-align: center;
}
.seasonText{
  color:#BC6BBC;
  white-space: nowrap;
   font-size: 14px;
   text-align: center;
}
