*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter';
  background-color: #F5F5F5;
}
.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selector{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:340px
}
.leagueLogo {
  width: 46px;
  height: 45px;
}
.logoText{
  display: flex;
  gap: 10px;
  background-color: #ffffff;
}
.leagueText{
  line-height: 24px;
  font-size: 18px;
  color: #550055;
  white-space: nowrap;
  text-align: center;
}
.seasonText{
  color:#BC6BBC;
  white-space: nowrap;
   font-size: 14px;
   text-align: center;
}
@media (max-width: 750px){
  .container{
    max-width: 750px;
  }
  .selector{
    gap:280px ;
  }
}
@media (max-width: 650px){
  .container{
    max-width: 600px;
    padding: 20px;
  }
  .selector{
    gap:220px
  }

.leagueLogo {
  width: 43px;
  height: 43px;
}
.logoText{
  gap: 10px;
 
}
.leagueText{
  font-size: 17px;
}
.seasonText{
   font-size: 13px;
   
}
}
@media (max-width: 580px){
  .container{
    max-width: 580px;
    padding: 10px;
  }
  .selector{
    gap:180px
  }
 .leagueLogo {
  width: 40px;
  height: 40px;
}
.logoText{
  gap: 10px;
 
}
.leagueText{
  font-size: 16px;
}
.seasonText{
   font-size: 12px;
   
}

}
@media (max-width: 480px){
  .container{
    max-width: 480px;
    padding: 10px;
  }
  .selector{
    gap:150px
  }
 .leagueLogo {
  width: 37px;
  height: 37px;
}
.logoText{
  gap: 10px;
 
}
.leagueText{
  font-size: 15px;
}
.seasonText{
   font-size: 13px;
   
}

}
@media (max-width: 360px){
  .container{
    max-width: 360px;
    padding: 10px;
  }
  .selector{
    gap:20px
  }
 .leagueLogo {
  width: 34px;
  height: 34px;
}
.logoText{
  gap: 10px;
 
}
.leagueText{
  font-size: 14px;
}
.seasonText{
   font-size: 12px;
   
}

}
@media (max-width: 320px){
  .container{
    max-width: 320px;
    padding: 10px;
  }
  .selector{
    gap:20px
  }
 .leagueLogo {
  width: 30px;
  height: 30px;
}
.logoText{
  gap: 10px;
 
}
.leagueText{
  font-size: 13px;
}
.seasonText{
   font-size: 11px;
   
}

}